node_modules/
npm-debug.log*

.env
.env.local
.env.docker

dist/
build/
/generated/

*.db
*.sqlite
*.sqlite3

/prisma/migrations/
!prisma/schema.prisma

logs
*.log

pids
*.pid
*.seed
*.pid.lock

coverage/
.nyc_output/
.docker/

.vscode/
.idea/
*.swp
*.swo

tmp/
temp/
